/*
 |--------------------------------------------------------------------------
 | Be careful with the pickers. Avoid using selectors already used by
 | Bootstrap CSS.
 | The use of Bootstrap CSS selector will affect the entire application.
 |--------------------------------------------------------------------------
 */

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Trix editor
@import 'trix';

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.navbar .navbar-toggler {
    padding: 0.5rem 0.75rem;
    border-color: $primary;
    color: $primary;
}

.navbar .navbar-toggler>svg {
    width: 16px;
}

.navbar .navbar-nav.nav-left {
    margin-top: 0.5rem;
}

.app-alert {
    border-radius: 0;
    padding: 0.25rem 0;
    margin: 0;
}

.app-alert .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.app-alert .container>.btn-close {
    position: static;
    top: unset;
    right: unset;
    width: fit-content;
    height: fit-content;
    padding: 1.5rem;
}

.img-col {
    width: 100%;
    max-width: 560px;
    height: auto;
}

.jumbotron {
    color: $white;
    background: linear-gradient(180deg, $primary 0%, $white 100%);
}

.subjumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ruler {
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.41);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.about {
    flex-wrap: wrap;
}

.event-item {
    color: $black;
    text-decoration: none;
}

.event-item:hover {
    color: $black;
    background-color: $gray-100;
}

.event-item__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.8rem;
}

.option-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.option-item {
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    height: fit-content;
}

.option-item__image-frame {
    overflow: hidden;
    height: 100%;
}

.option-item__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 100px;
    height: 20vh;
}

@media (min-width: 768px) {
    .navbar .navbar-nav.nav-left {
        margin-top: 0;
    }

    .about {
        justify-content: space-between;
    }

    .descriptionAbout {
        width: 49%;
    }

    .option-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .subjumbotron {
        width: 38%;
    }

    p {
        font-size: 1.2em;
    }

    .descriptionAbout {
        width: 48%;
    }
}

// Disable the file button in trix editor
trix-toolbar [data-trix-button-group="file-tools"] {
    display: none;
}

// Disable Heading button in trix editor
.trix-button--icon-heading-1 {
    display: none;
}
