// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    background-color: #fff;
}
.container {
    padding: 16px;
}

.description-text {
    font-size: 1.2em;
    padding-bottom: 0;
}

.ruler {
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.41);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
    .choice {
        width: 60%;
    }

    .choiceCard {
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .choice {
        width: 32%;
    }

    .choiceCard {
        justify-content: space-evenly;
    }
}
