// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    background-color: #fff;
}
.container {
    padding: 16px;
}

main {
    height: 100vh;
}

.jumbotron {
    flex-wrap: wrap;
    padding: 0 16px 0 16px;
    align-items: center;
    background: linear-gradient(180deg, rgba(84, 99, 255, 0.37) 0%, rgba(66, 82, 255, 0) 101.67%);
}

.subjumbotron {
    background-color: transparent;
}
.description-text {
    font-size: 1.2em;
    padding-bottom: 0;
}

.ruler {
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.41);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.card-body {
    color: black;
    text-decoration: none;
}

a:link { text-decoration: none; }

.about {
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .choice {
        width: 60%;
    }

    .choiceCard {
        justify-content: space-between;
    }

    .about {
        justify-content: space-between;
    }

    .descriptionAbout {
        width:49%;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        flex-wrap: nowrap;
        justify-content: center;
    }
    .subjumbotron {
        width: 38%;
    }

    .imgJumbotron {
        padding-top: 2%;
        height: 100vh;
    }
    p {
        font-size: 1.2em;
    }
    .choice {
        width: 32%;
    }

    .choiceCard {
        justify-content: space-between;
    }

    .descriptionAbout {
        width:48%;
    }
}
